.task-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin: 20px;
    margin-bottom: 40px;
}
.task-form-container > input {
    height: 20px;
    width: 500px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 20px;
    background-color: #242424;
    color: white;
}
input::placeholder{
    color:rgb(165, 156, 156)
} 
.add-task{
    width: 150px;
    color: #242424;
    background-color: white;
}
